<body>
  <h2>{{calculadora}}</h2>
  <input type="text">

  <div class="img">
    <img src="../../assets/barba.png">
    <img src="../../assets/mujer-de-negocios.png">
  </div>

  <div class="btn">
    <div>
      <button>-</button>
      <button>110 cm</button>
      <button>+</button>
    </div>
    <br>
    <div>
      <button>-</button>
      <button>50 kg</button>
      <button>+</button>
    </div>
  </div>

  <div class="check">
    <button>Cancelar</button>
    <button>Aceptar</button>
  </div>
</body>

