<body>
<div class="res">
  <div class="IMC">
    <label for="IMC">Tu IMC es: </label>
    <input type="text" id="IMC" name="IMC" [(ngModel)]="imc">
  </div>
  <div class="estadoSalud">
    <input type="text" id="estadoSalud" name="estadoSalud" [(ngModel)]="estadoSalud"/>
  </div>
</div>

<form>
  <h2>{{calculadora}}</h2>
  <input type="text" placeholder="Escriba su nombre..." id="nombre" name="nombre" [(ngModel)]="nombre">

  <div class="img">
    <input type="radio" id="sexoH" name="sexo" value="sexoH">
    <img src="../../assets/barba.png">
    <img src="../../assets/mujer-de-negocios.png">
    <input type="radio" id="sexoM" name="sexo" value="sexoM">
  </div>

  <div class="datos">

    <div>
      <button (click)="restarAltura()">-</button>
      <input type="text" class="form-control" id="altura" name="altura" [(ngModel)]="altura"/>
      <button>cm</button>
      <button (click)="sumarAltura()">+</button>
    </div>

    <br>

    <div>
      <button (click)="restarPeso()">-</button>
      <input type="text" class="form-control" id="peso" name="peso" [(ngModel)]="peso"/>
      <button>kg</button>
      <button (click)="sumarPeso()">+</button>
    </div>

  </div>
  <div class="check">
    <button type="reset" value="borrar">Borrar</button>
    <button (click)="calcularIMC()" (click)="estado()">Calcular</button>
  </div>

</form>
</body>

