<body>
  <h2>{{calculadora}}</h2>
  <input type="text" id="nombre" placeholder="Escriba su nombre...">

  <form>
    <div class="img">
      <input type="radio" id="hombre" name="sexo" value="H">
      <img src="../../assets/barba.png">
      <img src="../../assets/mujer-de-negocios.png">
      <input type="radio" id="mujer" name="sexo" value="M">
    </div>
    <div class="datos">
      <div>
        <button (click)="sumar()">-</button>
        <input type="text" value="110" id="altura">
        <button>cm</button>
        <button>+</button>
      </div>
      <br>
      <div>
        <button>-</button>
        <input type="text" value="50" id="peso">
        <button>kg</button>
        <button>+</button>
      </div>
    </div>
    <div class="check">
      <button>Cancelar</button>
      <button>Aceptar</button>
    </div>
  </form>
</body>

