div {
  border: 2px #171515 solid;
  text-align: center;
  float: right;
  width: 18%;
  margin-right: 3%;
  margin-top: 0%;
  padding-bottom: 20rem;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
